.container {
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.left-containee {
  height: 100vh;
  overflow-y: scroll;
  font-size: xx-large; /* xxx-large is unsupported in Safari as of Aug 2020 */
}

.right-containee {
  height: 100vh;
  overflow-y: scroll;
  color: #A98CFD;
}

.highlighted {
  color: white;
}

.annotated-text {
  background-color: #7E69BD;
}