.container {
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.left-containee {
  height: 100vh;
  overflow-y: scroll;
}

.right-containee {
  height: 100vh;
  overflow-y: scroll;
  color: #A98CFD;
}

.highlighted {
  color: white;
}